USE [master]
GO
/****** Object:  Database [GL]    Script Date: 20-11-2019 09:31:29 ******/
CREATE DATABASE [GL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GL]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 20-11-2019 09:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[EMAIL] [varchar](200) NULL,
	[DATE_OF_BIRTH] [varchar](200) NULL,
	[PHONE_NUMBER] [varchar](200) NULL,
	[BLOOD_GROUP] [varchar](100) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
